<html>
          <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
  <div class="column">  
<table class="table">
  <thead>
    <tr>
      <th><abbr title="This is the number of the queue of the bot, it means first to end.">Number</abbr></th>
      <th>Bot Name</th>
      <th>Prefix</th>
      <th>Website</th>
      <th>Discord</th>
      <th>Invite</th>
      <th>Short Description</th>
    </tr>
  </thead>
  <tbody>
<tr>
    <th>1.</th>
  <td>Bitch Lasagna#0001</td>
  <td>bl- or (custom)</td>
  <td>Not Provided</td>
  <td>Not Provided</td>
  <td><a href="#">Click here</a></td>
  <td>Bitch Lasagna is a sdank bot that contain anime features and funy command with al ittle bit of fgun</td>
    </tr>
  </tbody>
</table>
  </div>
</html>
<!-- STOP MODIFYING MY THINGS KKKKKKKKKKK CHILL -->