<style>
.da-nav-scroll {
    background-color: #7289DA;
    width: 100%;
    height: 40px;
    position: fixed;
    transition: 0.25s;
    z-index: 1
}

.da-nav {
    background-color: #7289DA;
    width: 100%;
    height: 60px;
    transition: 0.25s
}

.da-nav .da-nav-links {
    left: 10px;
    position: relative;
    top: 15px;
    transition: 0.25s;
    display: inline
}

.da-nav .da-nav-links a {
    position: relative;
    top: 1px;
    display: block;
    color: #FFF;
    text-align: center;
    transition: 0.25s;
    font-size: 20px;
    left: 10px;
    display: inline;
    padding: 3px
}

.da-nav .da-nav-links a:hover {
    background-color: #99AAB5;
    text-decoration: none;
    border-radius: 10px
}

.da-nav-scroll .da-nav-links {
    left: 10px;
    position: relative;
    top: 5px;
    transition: 0.25s;
    display: inline
}

.da-nav-scroll .da-nav-links a {
    position: relative;
    top: 1px;
    display: block;
    color: #FFF;
    text-align: center;
    transition: 0.25s;
    font-size: 20px;
    display: inline;
    left: 10px;
    padding: 3px
}

.da-nav-scroll .da-nav-links a:hover {
    background-color: #99AAB5;
    text-decoration: none;
    border-radius: 10px
}

.da-nav .da-nav-links .da-otr {
    position: relative
}

.da-nav-scroll .da-nav-links .da-otr {
    position: relative
}

.da-nav .da-nav-links .dropdown-menu {
    background-color: #7289DA
}

.da-nav-scroll .da-nav-links .dropdown-menu {
    background-color: #7289DA
}
  .logo
  {
  
 height: 40px;
  padding: 3px 10px;
  
}
</style>
<div id="da-nav" class="da-nav">
    <div id="da-nav-links" class="da-nav-links">
         <a href="/"><img class="logo"  src="https://cdn.glitch.com/1efc3dfb-c314-492e-8d39-28870b8280d5%2Fimage.png?1550265718927"></a>
        <a href="/" class="da-nav-link">Home</a>
        <a href="/callback">Submit</a>
        <a href="/bots">Bots</a>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="loginmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please note.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The add bot system may contain some errors or glitches. Are you sure you would like to continue?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="window.location.replace('/callback');">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
